<!--This page includes all base scripts and stylesheets that should be present on every html page -->
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <script src = "//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src = "//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    
    <link rel = "stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel = "stylesheet" href = "/static/css/jquery.bootstrap-touchspin.css" />
    <script src = "/static/js/ext/jquery.bootstrap-touchspin.js"> </script>
    
    <!-- AJA, Sweetalert, Dropzone -->
    <script src = "/static/js/ext/aja.min.js"> </script>
    <script src = "/static/js/ext/sweetalert.min.js"> </script>
    <script src = "/static/js/ext/dropzone.js"> </script>
    <script src ="/static/js/local/courses.js" type = "text/javascript"></script>
    <script src ="/static/js/ext/bootbox.min.js" type = "text/javascript"></script>
    
    
    <link rel = "stylesheet" href = "/static/css/sweetalert.css" />    
    <link rel = "stylesheet" href = "/static/css/dropzone.css"   />  
    <link rel = "stylesheet" href = "/static/css/sidebar.css"    />
    
    <!-- Our javascript -->
    <script src = "static/js/local/app.js"> </script>
    <meta name="referrer" content="always">    

  </head>
  <body>
      {% include "snips/navigation.html" %}

    <div class="container">
      {# All content should get rendered in here #}
      {% block body %} {% endblock %}  
    </div>
  </body>

</html>
