<div style = "margin-left:25px;">
  <table style = "width:100%;" border = "1" class= "table table-striped">
    <tr style = "text-align:center;">
      <th>
        Instructor
      </th>
      <th>
        Prefix
      </th>
      <th>
        Number
      </th>
      <th>
        Section
      </th>
      <th>
        Year
      </th>
      <th>
        Semester
      </th>
      <th style = "width:225px;">
        Syllabus Action
      </th>
      <th>
        Last Modified By
      </th>
    </tr>
    

    