<h2>Edit Comment</h2>
<div class=entry >
	{% for i in entry %}
	<form action="{{ url_for('edit_entry', num = i.uid) }}" method=post class=edit-entry>
	
	  <b>Title:</b>
	  <div>
			<textarea type="text" name="title" rows=1 cols=max class="form-control">{{ i.title }}</textarea>
	  </div>
	  <b>Text:</b>
	  <div>
			<textarea type="text" name="text" rows=6 cols=max class="form-control">{{i.text}}</textarea>
	  </div>
	  <b>Item Name:</b>
	  <div class=item>
		<select type="text" name="item_name" class="form-control" required>
		  {% for i in entry%}
			  <option value="{{item.name}}">Item: {{i.item.name}}</option>
		  {% endfor %}
		</select>
	  </div>
	  <div class="text-right">
			<button class="btn btn-default" type="submit">
			Submit
			</button>
	  </div>
	
	</form>

	<b> Do you want to delete this comment?</b>

	<form action="{{ url_for('delete_comment', num = i.uid) }}" method=post class=delete-comment>
		<button class="btn-default" type="submit">Delete</button>
	</form>
	{% endfor %}
</div>
