{% extends "snips/base.html" %} 
{% set currentPage = "Courses" %}
{% block body %}

{% if my_courses_key != None %}
<!-- The My Courses Table View -->
  <h2>My Courses</h2>
  {% include "snips/coursesHeader.html" %}
    {% for course in my_courses %}
      {% include "snips/coursesRows.html" %}  
    {% endfor %}
  {% include "snips/coursesFooter.html" %} 
{% endif %}

{% if admin_key != None %}
  <!-- The Admin Table View -->
  {%for division in divisions_to_programs %}
    <h2>{{ division }}</h2>
    {% for program in divisions_to_programs[division] %}
      <div style = "margin-left:25px;">
        <h3>{{ program.name}}</h3>
        {% include "snips/coursesHeader.html" %}
          {% for course in programs_to_courses[program.name] %}
            {% include "snips/coursesRows.html" %} 
          {% endfor %} {# Thanks Matt #}
        {% include "snips/coursesFooter.html" %}
      </div>
    {% endfor %}
  {% endfor %}
{% endif %}

{% if division_key != None %}
  <!-- The Division Table View -->
  <h2>{{division_key}}</h2>
  {% for program in divisions_to_programs[division_key] %}
    <div style = "margin-left:25px;">
      <h3>{{ program.name }}</h3>
      {% include "snips/coursesHeader.html" %}
        {% for course in programs_to_courses[program.name] %}
          {% include "snips/coursesRows.html" %} 
        {% endfor %}
      {% include "snips/coursesFooter.html" %}
    </div>
  {% endfor %}
{% endif %}

{% if program_key != None %}
  <!-- The Program Table View -->
  <h2>{{ program_key }}</h2>
  {% include "snips/coursesHeader.html" %}
    {% for course in programs_to_courses[program_key] %}
      {% include "snips/coursesRows.html" %} 
    {% endfor %}
  {% include "snips/coursesFooter.html" %} 
{% endif %}


{% endblock %}