<h2>Edit Item</h2>


                              
<div class=entry >
	{% for i in entry %}
		<form action="{{ url_for('edit_item', num = i.uid)}}" method=post class=edit-item>
		
		  <b>Title:</b>
		  <div>
				<textarea type="text" name="name" rows=1 cols=max class="form-control">{{ i.name }}</textarea>
		  </div>
		  <b>Value:</b>
		  <div>
				<textarea type="text" name="value" rows=6 cols=max class="form-control">{{ i.value }}</textarea>
		  </div>
		  <b>Count:</b>
		  <div>
				<textarea type="text" name="count" rows=1 cols=max class="form-control">{{ i.count }}</textarea>
		  </div>
		  <div class="text-right">
				<button class="btn btn-default" type="submit">
				Submit
				</button>
		  </div>
		
		</form>
		<b> Do you want to delete this item?</b>

		<form action="{{ url_for('delete_item', num = i.uid)}}" method=post class=delete-item>
			<button class="btn-default" type="submit">Delete</button>
		</form>
	{% endfor %}
<div>						


