{% extends "snips/base.html" %} 
{% set currentPage = "Home" %}
{% block body %}
<div class = "container">
  <div class = "wrapper">
      <div class=".col-md-6 .col-md-offset-3">
          <center>
              <img src="static/img/BCSR.jpg" class="img-responsive">
          </center>
      </div>
  </div>
</div>
{% endblock %}