<!doctype html>
<title>Flask Inventory System</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>

  <h1>Flask Inventory System</h1>
  <!--
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  -->
  {% block body %}{% endblock %}
  
</div>
