{% extends "base.html" %}
{% block body %}

{% macro itemrow(name, value='', count = 0, id = 0) -%}
  <!-- Debugging Name: {{name}} Value: {{value}} -->
  <div class = "row">
    <div class = "col-md-3 text-left col-md-offset-1">{{name}}</div>
    <div class = "col-md-1 text-right">{{value}}</div>
    <div class = "col-md-1 text-right">{{count}}</div>
	<a class="btn btn-default" href="{{ '/edit/%s'%id }}">Edit</a>
  </div>
{%- endmacro %}

<center>
  <div class = "row">
    <div class = "col-md-3 text-left col-md-offset-1"><b>Name</b></div>
    <div class = "col-md-1 text-right"><b>Value</b></div>
    <div class = "col-md-1 text-right"><b>Count</b></div>
  </div>
	{% for i in items %}
		{{ itemrow (i['name'], value = i['value'], count = i['count'], id = i['uid'])}}	
	{% endfor %}
	
</center>

{% endblock %}