{% extends "snips/base.html" %} 
{% block body %}
<center>
  <h1>Upload new File</h1>
    
  <form class="dropzone" id="drop" action="/upload/0" method="post"> 
    <div class="box"></div>
  </form>
  
  {% for file in files %}
    <b>file.path</b>
    <form method = "POST" name = "form_delete" id = "form_delete_{{file.uid}}" action = "/upload/{{file.uid}}/delete">
      <input id="form_btn" class="btn btn-danger" onclick="delete_syllabus(form_delete_{{file.uid}})" value="Delete">
    </form>
    <a href = "/Filess/{{file.uid}}/download" class = "btn btn-success">Download</a>
  {% endfor %}
  
</center>
{% endblock %}